.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cadetblue;
}

.Logo {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: #333;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Achivmentalet {
  color: crimson;
}
.clickSection {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.PointSection {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.clickPointSection {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.buttonClick {
  background-color: blue;
}
.coinIMage {
  width: 50px;
  height: 50px;
}
.itemsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}
